:root {
  --transition-speed: 250ms;
}

.slider-wrapper {
  position: relative;
  overflow-x: hidden;
  user-select: none;
}

.slider-container {
  display: inline-flex;
  overflow: hidden;
  scrollbar-width: none;
  transform: translateX(0);
  will-change: transform;
  transition: transform var(--transition-speed) ease-out;
  cursor: grab;
  cursor: col-resize;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  -webkit-overflow-scrolling: touch !important;

  will-change: transform;
}

.slide {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide .slide-contents {
  max-width: 100%;
  max-height: 100%;
  user-select: none;
  /* object-fit: cover; */

  transition: transform var(--transition-speed) ease-in-out;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  -webkit-overflow-scrolling: touch !important;

  will-change: transform;
}

.grabbing {
  cursor: grabbing;
}

.grabbing .slide .slide-contents {
  transform: scale(0.97);
}
